*.pdf

static/pdf/*

static/pdf

.DS_Store

*.pages

# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac
*.wma
*.aiff
*.alac
*.opus
*.mid
*.midi
*.mp4a  # sometimes used for audio
*.webm   # can contain audio
static/media/videos/*
static/media/audios/*
