<h2>Lesson {{Lesson Number}} Objectives</h2>
<p>By the end of the lesson, students will be able to:</p>
<ul>
  <li><p>REPLACE WITH OBJECTIVE 1</p></li>
  <li><p>REPLACE WITH OBJECTIVE 2</p></li>
  <li><p>REPLACE WITH OBJECTIVE 3</p></li>
  <li><p>REPLACE WITH OBJECTIVE 4</p></li>
  <li><p>REPLACE WITH OBJECTIVE 5 (if needed)</p></li>
</ul>

<h1>Lesson {{Lesson Number}} - {{Lesson Title}}</h1>

<h2>Introduction</h2>
<p>
  REPLACE THIS PARAGRAPH WITH YOUR INTRODUCTION TEXT.
</p>

<h2>Reading</h2>
<blockquote>
  <p>
    <strong>Python with a Worldview <sup>2nd</sup> Edition</strong><br />
    Chapter {{Chapter Number}} - {{Chapter Title}}<br />
    Lesson {{Lesson Number}} - {{Lesson Title}}
  </p>
</blockquote>

<h2>Reading Questions</h2>
<blockquote>
  <p>
    <strong><em>Helpful tip before you start reading:</em></strong>
  </p>
  <p>
    These questions are closely connected to the key ideas in the text. To make your reading more active and purposeful, try creating a quick checklist of these questions. As you come across the answers while reading, check them off. This will help you stay focused and get more out of the material!
  </p>
</blockquote>

<ol>
  <li><p>REPLACE WITH QUESTION 1</p></li>
  <li><p>REPLACE WITH QUESTION 2</p></li>
  <li><p>REPLACE WITH QUESTION 3</p></li>
  <li><p>REPLACE WITH QUESTION 4</p></li>
  <li><p>REPLACE WITH QUESTION 5</p></li>
  <li><p>REPLACE WITH QUESTION 6</p></li>
  <li><p>REPLACE WITH QUESTION 7 (add or remove as needed)</p></li>
</ol>

<h2>Warm Up Session</h2>
<p>
  Open the Python shell in your computer and type in the following statements.
</p>

<h3>Part 1</h3>
<table style="border: medium; background-color: rgb(244, 244, 244); font-family: monospace; width: 100%; margin: 10px 0px;">
  <tbody>
    <tr>
      <td style="border: medium; padding: 12px; white-space: pre; line-height: 1.4;">
        REPLACE WITH YOUR CODE EXAMPLE (Part 1)
      </td>
    </tr>
  </tbody>
</table>
<p>What happened? Can you explain why?</p>

<h3>Part 2</h3>
<table style="border: medium; background-color: rgb(244, 244, 244); font-family: monospace; width: 100%; margin: 10px 0px;">
  <tbody>
    <tr>
      <td style="border: medium; padding: 12px; white-space: pre; line-height: 1.4;">
        REPLACE WITH YOUR CODE EXAMPLE (Part 2)
      </td>
    </tr>
  </tbody>
</table>
<p>REPLACE WITH FOLLOW-UP INSTRUCTIONS FOR PART 2.</p>

<h2>Video Examples</h2>
<p>
  <strong>Here is where links for the video sessions for this lesson will go.</strong>
</p>

<h2>Computer Lab</h2>
<p>Welcome to the Python computer labs!</p>

<p>You're all set!</p>

<p>© 2026 LogosTeach - All Rights Reserved</p>