<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/templates/Brass Horizon Fanfare-2.mp3</key>
	<data>
	Ym9vawAEAAAAAAUQQAAAAOSYW5sgzxJP9FYQQ9vfzbQSW8tZUbqXfUqZklE90DwYAAAA
	AAAAAAAAAAAAAAAAAOACAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB0ZW1wbGF0ZXMAAAAbAAAAAQEAAEJyYXNzIEhvcml6
	b24gRmFuZmFyZS0yLm1wMwAkAAAAAQYAABAAAAAgAAAAMAAAAEQAAABQAAAAYAAAAIgA
	AACYAAAArAAAAAgAAAAEAwAAZEIAAAAAAAAIAAAABAMAAGkiBAAAAAAACAAAAAQDAACa
	IgQAAAAAAAgAAAAEAwAA4WcQAAAAAAAIAAAABAMAAB4QLQIAAAAACAAAAAQDAAB3ZY4D
	AAAAAAgAAAAEAwAAFfDkBAAAAAAIAAAABAMAAPfmswUAAAAACAAAAAQDAAC/FbQFAAAA
	ACQAAAABBgAA/AAAAAwBAAAcAQAALAEAADwBAABMAQAAXAEAAGwBAAB8AQAACAAAAAAE
	AABBx/A8dzbf9RgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAH
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8JAAAAAQEAAE1pbmlzYXVj
	ZQAAAAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH34AvAAAAJAAAAAEBAABEODM0RDA4
	OC1GM0ZDLTRCNUYtOEIzMy05OTVDQzRFNDc2MkYYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAADQAAAAAAAAAAUQAACMAQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAA
	AAIgAACUAgAAAAAAAAUgAAAEAgAAAAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIg
	AAAoAgAAAAAAABMgAAA4AgAAAAAAACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADo
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAD4AQAAAAAAABDQAAAEAAAAAAAAAKgCAICgAgAA
	AAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/templates/Happy Background - Remix.mp3</key>
	<data>
	Ym9vawAEAAAAAAUQQAAAAKUpmsh0USqb9FCR+8WUPmyimHOGy9MAHcJ5ljns0qX3AAAA
	AAAAAAAAAAAAAAAAAOACAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB0ZW1wbGF0ZXMAAAAcAAAAAQEAAEhhcHB5IEJhY2tn
	cm91bmQgLSBSZW1peC5tcDMkAAAAAQYAABAAAAAgAAAAMAAAAEQAAABQAAAAYAAAAIgA
	AACYAAAArAAAAAgAAAAEAwAAZEIAAAAAAAAIAAAABAMAAGkiBAAAAAAACAAAAAQDAACa
	IgQAAAAAAAgAAAAEAwAA4WcQAAAAAAAIAAAABAMAAB4QLQIAAAAACAAAAAQDAAB3ZY4D
	AAAAAAgAAAAEAwAAFfDkBAAAAAAIAAAABAMAAPfmswUAAAAACAAAAAQDAAD0F7QFAAAA
	ACQAAAABBgAA/AAAAAwBAAAcAQAALAEAADwBAABMAQAAXAEAAGwBAAB8AQAACAAAAAAE
	AABBx/A80SbtGxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAH
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8JAAAAAQEAAE1pbmlzYXVj
	ZQAAAAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHH34AvAAAAJAAAAAEBAABEODM0RDA4
	OC1GM0ZDLTRCNUYtOEIzMy05OTVDQzRFNDc2MkYYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
	UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAA
	EQAAAAQQAADQAAAAAAAAAAUQAACMAQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAA
	AAIgAACUAgAAAAAAAAUgAAAEAgAAAAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIg
	AAAoAgAAAAAAABMgAAA4AgAAAAAAACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADo
	AQAAAAAAABHAAAAgAAAAAAAAABLAAAD4AQAAAAAAABDQAAAEAAAAAAAAAKgCAICgAgAA
	AAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/templates/Mosswind Fanfare-2.mp3</key>
	<data>
	Ym9va/wDAAAAAAUQQAAAAEBvcXXvfeniGzYDFiJKtoy9j85VHwn4ZmcxI8TZqAwtAAAA
	AAAAAAAAAAAAAAAAANwCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB0ZW1wbGF0ZXMAAAAWAAAAAQEAAE1vc3N3aW5kIEZh
	bmZhcmUtMi5tcDMAACQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAA9+azBQAAAAAIAAAABAMAAJQetAUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	8D/guPz8GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAvAAAAAQEAAE5TVVJMQm9va21hcmtRdWFy
	YW50aW5lTW91bnRlZE5ldHdvcmtWb2x1bWVzS2V5ANgAAAD+////AQAAAAAAAAARAAAA
	BBAAAMwAAAAAAAAABRAAAIgBAAAAAAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAA
	AJACAAAAAAAABSAAAAACAAAAAAAAECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQC
	AAAAAAAAEyAAADQCAAAAAAAAICAAAHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAA
	AAAAEcAAACAAAAAAAAAAEsAAAPQBAAAAAAAAENAAAAQAAAAAAAAApAIAgJwCAAAAAAAA
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/templates/Saltwater Chorus-2.mp3</key>
	<data>
	Ym9va/wDAAAAAAUQQAAAANqDMhgi058A/B+cmWLrWoBWpm0ZO+T/UjXj13eCs+OsAAAA
	AAAAAAAAAAAAAAAAANwCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB0ZW1wbGF0ZXMAAAAWAAAAAQEAAFNhbHR3YXRlciBD
	aG9ydXMtMi5tcDMAACQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAA9+azBQAAAAAIAAAABAMAAMcdtAUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	8D9ScnodGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAvAAAAAQEAAE5TVVJMQm9va21hcmtRdWFy
	YW50aW5lTW91bnRlZE5ldHdvcmtWb2x1bWVzS2V5ANgAAAD+////AQAAAAAAAAARAAAA
	BBAAAMwAAAAAAAAABRAAAIgBAAAAAAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAA
	AJACAAAAAAAABSAAAAACAAAAAAAAECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQC
	AAAAAAAAEyAAADQCAAAAAAAAICAAAHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAA
	AAAAEcAAACAAAAAAAAAAEsAAAPQBAAAAAAAAENAAAAQAAAAAAAAApAIAgJwCAAAAAAAA
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/templates/Starry Night.mp3</key>
	<data>
	Ym9va/QDAAAAAAUQQAAAAEAB6UGM6Vfv7uYjKNa0mQsUitqNnGXKqgFNL9lkUcKfAAAA
	AAAAAAAAAAAAAAAAANQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB0ZW1wbGF0ZXMAAAAQAAAAAQEAAFN0YXJyeSBOaWdo
	dC5tcDMkAAAAAQYAABAAAAAgAAAAMAAAAEQAAABQAAAAYAAAAIgAAACYAAAArAAAAAgA
	AAAEAwAAZEIAAAAAAAAIAAAABAMAAGkiBAAAAAAACAAAAAQDAACaIgQAAAAAAAgAAAAE
	AwAA4WcQAAAAAAAIAAAABAMAAB4QLQIAAAAACAAAAAQDAAB3ZY4DAAAAAAgAAAAEAwAA
	FfDkBAAAAAAIAAAABAMAAPfmswUAAAAACAAAAAQDAAAxMLsFAAAAACQAAAABBgAA8AAA
	AAABAAAQAQAAIAEAADABAABAAQAAUAEAAGABAABwAQAACAAAAAAEAABBx/TW3UgrhBgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAAD
	AwAA9QEAAAgAAAABCQAAZmlsZTovLy8JAAAAAQEAAE1pbmlzYXVjZQAAAAgAAAAEAwAA
	AFChG3MAAAAIAAAAAAQAAEHH34AvAAAAJAAAAAEBAABEODM0RDA4OC1GM0ZDLTRCNUYt
	OEIzMy05OTVDQzRFNDc2MkYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEA
	AAABAQAALwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJrUXVhcmFudGluZU1v
	dW50ZWROZXR3b3JrVm9sdW1lc0tleQDYAAAA/v///wEAAAAAAAAAEQAAAAQQAADEAAAA
	AAAAAAUQAACAAQAAAAAAABAQAAC8AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAA
	AAUgAAD4AQAAAAAAABAgAAAIAgAAAAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMg
	AAAsAgAAAAAAACAgAABoAgAAAAAAADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAg
	AAAAAAAAABLAAADsAQAAAAAAABDQAAAEAAAAAAAAAJwCAICUAgAAAAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/unit_004B/lesson_002_NARRATIVE.mp3</key>
	<data>
	Ym9va7gDAAAAAAUQQAAAANPdUcR05rwlszaIHFLoklx6jaCBGJCJ9nXBefuCUN91AAAA
	AAAAAAAAAAAAAAAAAKQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB1bml0XzAwNEIAAAAYAAAAAQEAAGxlc3Nvbl8wMDJf
	TkFSUkFUSVZFLm1wMyQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAAad2zBQAAAAAIAAAABAMAADkFuwUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	9MTlHkFzGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADM
	AAAAAAAAAAUQAACIAQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
	AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAAABIgAAAkAgAAAAAA
	ABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAgAACcAgAAAAAAAAHAAADkAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAD0AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/unit_004B/lesson_003_One Step At A Time.mp3</key>
	<data>
	Ym9va8QDAAAAAAUQQAAAANc9DYTaeZmvx+1cHIUEwpQBIYHFg9p68GX+frKSvykyAAAA
	AAAAAAAAAAAAAAAAALACAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB1bml0XzAwNEIAAAAhAAAAAQEAAGxlc3Nvbl8wMDNf
	T25lIFN0ZXAgQXQgQSBUaW1lLm1wMwAAACQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAA
	AABgAAAAiAAAAJgAAACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAI
	AAAABAMAAJoiBAAAAAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAA
	BAMAAHdljgMAAAAACAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAAad2zBQAAAAAIAAAABAMA
	AFjtswUAAAAAJAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AAAIAAAAAAQAAEHH8C6JiZxTGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAA
	TWluaXNhdWNlAAAACAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEA
	AEQ4MzREMDg4LUYzRkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAADYAAAAAAAAAAUQAACUAQAAAAAAABAQAADQAQAAAAAAAEAQAADAAQAA
	AAAAAAIgAACcAgAAAAAAAAUgAAAMAgAAAAAAABAgAAAcAgAAAAAAABEgAABQAgAAAAAA
	ABIgAAAwAgAAAAAAABMgAABAAgAAAAAAACAgAAB8AgAAAAAAADAgAACoAgAAAAAAAAHA
	AADwAQAAAAAAABHAAAAgAAAAAAAAABLAAAAAAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/unit_004B/lesson_004_narration.mp3</key>
	<data>
	Ym9va7gDAAAAAAUQQAAAACdSzw7MEH2MkqMPAh3V3Q/aS1XYBJpnidoE2rQbaN1NAAAA
	AAAAAAAAAAAAAAAAAKQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB1bml0XzAwNEIAAAAYAAAAAQEAAGxlc3Nvbl8wMDRf
	bmFycmF0aW9uLm1wMyQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAAad2zBQAAAAAIAAAABAMAAKsRuwUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	9MrFR1OQGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADM
	AAAAAAAAAAUQAACIAQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
	AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAAABIgAAAkAgAAAAAA
	ABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAgAACcAgAAAAAAAAHAAADkAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAD0AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/unit_004B/lesson_005_narrative.mp3</key>
	<data>
	Ym9va7gDAAAAAAUQQAAAAMcqhfFMqRdM2FqIw7Am15+kxBX42YYp5tci5aTz12OKAAAA
	AAAAAAAAAAAAAAAAAKQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB1bml0XzAwNEIAAAAYAAAAAQEAAGxlc3Nvbl8wMDVf
	bmFycmF0aXZlLm1wMyQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAAad2zBQAAAAAIAAAABAMAAPwkuwUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	9NMlvd3xGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADM
	AAAAAAAAAAUQAACIAQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
	AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAAABIgAAAkAgAAAAAA
	ABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAgAACcAgAAAAAAAAHAAADkAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAD0AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/jcpartri/Documents/work/courses/computer-science-1-pubfunnels/audio/unit_004B/lesson_007_narrative.mp3</key>
	<data>
	Ym9va7gDAAAAAAUQQAAAAIJXvd4v7hUP7uOrkfPvk9wNmQoOpsTjiEVDIny1iVy+AAAA
	AAAAAAAAAAAAAAAAAKQCAAAEAAAAAwMAAAAIACgFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AABqY3BhcnRyaQkAAAABAQAARG9jdW1lbnRzAAAABAAAAAEBAAB3b3JrBwAAAAEBAABj
	b3Vyc2VzAB0AAAABAQAAY29tcHV0ZXItc2NpZW5jZS0xLXB1YmZ1bm5lbHMAAAAFAAAA
	AQEAAGF1ZGlvAAAACQAAAAEBAAB1bml0XzAwNEIAAAAYAAAAAQEAAGxlc3Nvbl8wMDdf
	bmFycmF0aXZlLm1wMyQAAAABBgAAEAAAACAAAAAwAAAARAAAAFAAAABgAAAAiAAAAJgA
	AACsAAAACAAAAAQDAABkQgAAAAAAAAgAAAAEAwAAaSIEAAAAAAAIAAAABAMAAJoiBAAA
	AAAACAAAAAQDAADhZxAAAAAAAAgAAAAEAwAAHhAtAgAAAAAIAAAABAMAAHdljgMAAAAA
	CAAAAAQDAAAV8OQEAAAAAAgAAAAEAwAAad2zBQAAAAAIAAAABAMAAM1MuwUAAAAAJAAA
	AAEGAAD4AAAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgBAAAIAAAAAAQAAEHH
	9PBp2R/UGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwkAAAABAQAATWluaXNhdWNlAAAA
	CAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcffgC8AAAAkAAAAAQEAAEQ4MzREMDg4LUYz
	RkMtNEI1Ri04QjMzLTk5NUNDNEU0NzYyRhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADM
	AAAAAAAAAAUQAACIAQAAAAAAABAQAADEAQAAAAAAAEAQAAC0AQAAAAAAAAIgAACQAgAA
	AAAAAAUgAAAAAgAAAAAAABAgAAAQAgAAAAAAABEgAABEAgAAAAAAABIgAAAkAgAAAAAA
	ABMgAAA0AgAAAAAAACAgAABwAgAAAAAAADAgAACcAgAAAAAAAAHAAADkAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAD0AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
